/* Global Styles */

:root {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  --gap: 1.875rem;
}

/* Toolbar styles */

.toolbar {
  margin: 0 0 0 -1rem; /* list styles offset */
  padding: 1rem 10%;
  background-color: #1e1e1e;
  color: whitesmoke;
  list-style: none;
}

.toolbar-item {
  display: inline-block;
}

.filter {
  margin: 1rem;
  border: thick solid white;
  padding: 1rem;
  background-color: #1e1e1e;
  color: white;
  font-size: large;
  font-weight: bold;
}

.filter-selected {
  border-color: white;
  background-color: white;
  color: #1e1e1e;
}

/* Project Gallery styles */

/* React-masonry-css styles: */
.project-list {
  display: flex;
  padding: 0 10%;
  margin-left: -1.875rem; /* gutter size offset */
  width: auto;
}
.project-list_column {
  padding-left: var(--gap); /* gutter size */
  background-clip: padding-box;
}

/* Style projectList items */
.project-list-item {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin: var(--gap) 0;
}
