/* Legacy styles */
.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Custom styles */

.list {
  margin: 0;
  padding: 1.25rem 10%;
  list-style: none;
}

/* Toolbar styles */

.toolbar {
  background-color: #1e1e1e;
  color: whitesmoke;
}

.toolbar-item {
  display: inline-block;
}

.filter {
  margin: 1rem;
  border: thick solid white;
  padding: 1rem;
  background-color: #1e1e1e;
  color: white;
  font-size: large;
  font-weight: bold;
}

.filter-selected {
  border-color: white;
  background-color: white;
  color: #1e1e1e;
}

/* Project Gallery styles */

.project-item {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
}

/* React-masonry-css styles: */
.my-masonry-grid {
  display: flex;
  margin-left: -1.875rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1.875rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > li {
  margin-bottom: 1.875rem;
}
